<div class="title">
  {{rs.Resource('LabelPasswordRecovery')}}
</div>
<div [hidden]="!submitted" class="text-center">
  <alert-panel [input]="successAlertPanel"></alert-panel>
  <br />
  <button mat-raised-button [routerLink]="['/home']" color="primary">
    {{rs.Resource('LabelGoHome')}}
  </button>
</div>
<div class="sign-up container " [hidden]="submitted">
  <form [formGroup]="passwordRecoveryForm" (ngSubmit)="submit($event)">
    <!-- Password -->

    <div formGroupName="passwords">

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>
          {{rs.Resource('LabelPassword')}}
        </mat-label>
        <input matInput formControlName="password"
               type="password"
               placeholder="{{rs.Resource('LabelPassword')}}" />
      </mat-form-field>
      <div *ngIf="password.invalid && password.dirty" class="text-danger">
        <p *ngIf="password.hasError('required')">*</p>
        <p *ngIf="password.hasError('minlength')">{{rs.Resource('WarnMinLength6')}}</p>
      </div>

      <!-- Retype password -->
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>
          {{rs.Resource('LabelRetypePassword')}}
        </mat-label>
        <input matInput formControlName="retypePassword"
               type="password"
               placeholder="{{rs.Resource('LabelRetypePassword')}}" />
      </mat-form-field>
      <div *ngIf="passwords.invalid && retypePassword.dirty" class="text-danger">
        <p *ngIf="retypePassword.hasError('required')">*</p>
        <p *ngIf="retypePassword.hasError('minlength')">{{rs.Resource('WarnMinLength6')}}</p>
        <p *ngIf="passwords.errors?.areEqual">{{rs.Resource('WarnInvalidPasswordConfirmation')}}</p>
      </div>
    </div>

    <alert-panel [input]="errorAlertPanel"></alert-panel>
    <div [hidden]="!this.isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <br />
    <p class="text-right">
      <button mat-raised-button [disabled]="!passwordRecoveryForm.valid || isLoading" color="primary" type="submit">{{rs.Resource('LabelChange')}}</button>
    </p>
  </form>
</div>
