<div class="title">
  {{rs.Resource('LabelForgottenPassword')}}
</div>
<div [hidden]="!submitted" class="text-center">
  <alert-panel [input]="successAlertPanel"></alert-panel>
  <br />
  </div>
<div class="container" [hidden]="submitted">
  <!-- Form to password forgot -->
  <form [formGroup]="passwordForgotForm" (ngSubmit)="submit($event)">
    <!-- Password -->
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>{{rs.Resource('LabelMail')}}</mat-label>

        <input matInput formControlName="mail"
               type="text"
               oninput="this.value = this.value.toLowerCase()"
               placeholder="{{rs.Resource('LabelMail')}}" />

      </mat-form-field>
      <div *ngIf="mail.invalid && mail.dirty" class="text-danger">
        <p *ngIf="mail.hasError('required')">*</p>
        <p *ngIf="mail.hasError('maxlength')">{{rs.Resource('WarnMaxLength250')}}</p>
        <p *ngIf="mail.hasError('pattern')">{{rs.Resource('WarnInvalidMail')}}</p>
      </div>
    </div>
    <div [hidden]="!this.isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <br />
    <p class="text-right">
      <button mat-button (click)="helper.backHistory()">{{rs.Resource('LabelCancel')}}</button>
      <button mat-raised-button color="primary" [disabled]="!passwordForgotForm.valid || isLoading" type="submit">
        {{rs.Resource('LabelSend')}}
      </button>
    </p>
  </form>
</div>

