# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

resources:
  repositories:
  - repository: DMCShared # The name used to reference this repository in the checkout step
    type: bitbucket 
    endpoint: BitbucketConnection
    name: devicemanagercommand/dmc.shared
    ref: $(Build.SourceBranchName)

pool:
  vmImage: 'ubuntu-latest'

workspace:
  clean: all # what to clean up before the job

steps:
- checkout: self
- checkout: DMCShared

- task: CmdLine@2
  inputs:
    script: |
      pwd
      ls

- task: CmdLine@2
  inputs:
    script: |
      mv dmc.shared DMC.Shared

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      echo "CREATING IMAGE"

      cd manager.angular
      ./docker-compose-build.ps1

      mkdir -p "${env:SOURCE_DIRECTORY}/images"

      docker save -o client_angular.tar mgr_client_angular:$(cat docker-compose.yml  | grep "mgr_client_angular" | awk -F':'  '{print $3}')

      echo "LS TARS"
      mv *.tar "${env:SOURCE_DIRECTORY}/images/"
      mv *.yml "${env:SOURCE_DIRECTORY}/images/"
      ls "${env:SOURCE_DIRECTORY}/images/"
  env:
    SOURCE_DIRECTORY: $(Build.SourcesDirectory)


- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'images'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

